{% extends 'index.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<style>
    .bg-container {
        background: url("{% static 'home.jpg' %}") no-repeat center center/cover;
        height: 100vh; /* Full viewport height */
        width:100%;
        display: flex;
        justify-content: center;
        align-items: normal;
        color: white; /* Make text visible */
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .container-fluid{
        background-color:rgb(128, 203, 228)
    }
    @font-face {
        font-family: 'MyCustomFont';
        src: url("{% static 'fonts/MyFont.ttf' %}") format('truetype');
    }

    /* General Styles */
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }
</style>
<div class="bg-container">
    Welcome to CyberNLPSuite
</div>
<div class="container-fluid">
    <div class="row">
       
           
        </div>
    </div>
   

 {% endblock %}